body {
  text-align: center;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
  color: #000;
  border-bottom: 1px solid #d3d6da;
  margin: 0 0 30px 0;
  padding: 20px;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d6da;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.green {
  color: #ffffff;
  --background: #6aaa64;
  --border-color: #6aaa64;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  color: #ffffff;
  --background: #787c7e;
  --border-color: #787c7e;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  color: #ffffff;
  --background: #c9b458;
  --border-color: #c9b458;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: #fff;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0);
    background: var(--background);
    border-color: var(--border-color);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border: 1px solid #d3d6da;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border: 1px solid #878a8c;
  }
}
