body {
  text-align: center;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
  color: #000;
  border-bottom: 1px solid #d3d6da;
  margin: 0 0 30px 0;
  padding: 20px;
}

.test {
  color: #000;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d6da;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.green {
  color: #ffffff;
  background: #6aaa64;
  border-color: #6aaa64;
}

.row > div.grey {
  color: #ffffff;
  background: #787c7e;
  border-color: #787c7e;
}

.row > div.yellow {
  color: #ffffff;
  background: #c9b458;
  border-color: #c9b458;
}
